@font-face {
    font-family: 'jf_flatregular';
    src: url('jf-flat-regular-webfont.woff2') format('woff2'),
    url('jf-flat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
}

body, html {
    min-height: 100%;
}

body {
    background: #f6704b;
}
.container {
    width: 380px;
    margin: 35px auto 67px;
}



/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    height: 100px;
    //background-color: #eee;
    //color: #444;
    cursor: pointer;
    padding: 26px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*button.accordion.active, button.accordion:hover {*/
    /*background-color: #ddd;*/
/*}*/

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.show{
    display: block;
}

.location,
.location-panel {
    background-color: #620808;
}
.location:hover  {
    background-color: rgba(98, 8, 8, 0.5);
}
.music,
.music-panel {
    background-color: #a53f3f;
}
.music:hover {
    background-color: rgba(165, 63, 63, 0.5);
}
.notes,
.notes-panel {
    background-color: #f4ce74;
}
.notes:hover {
    background-color: rgba(244, 206, 116, 0.5);
}
.books,
.books-panel {
    background-color: #ffe9c1;
}
.books:hover {
    background-color: rgba(255, 233, 193, 0.5);
}
.tendances,
.tendances-panel {
    background-color: #d5441c;
}
.tendances:hover  {
    background-color: rgba(213, 68, 28, 0.5);
}
.title {
    display: inline-block;
    font-family: "JF Flat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    margin-top: -15px;
}
.panel-text {
    margin: 0;
    padding: 15px 5px;
}
.image {
    margin-right: 55px;
}

.shadow {
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.25);
    opacity: 0.94;
}